In [264]:
f= open('F:/spark_test/spark_exam/fide_board_data/onlymoves.pgn','r')

In [265]:
lines = f.readlines()
Chessround=[]
for line in lines:
    roundmoves=[]
    if "TimeControl" in line:
        pass
    elif "Black" in line:
        pass
    elif "White" in line:
        pass
    else:
        line = line.strip()  # 줄 끝의 줄 바꿈 문자를 제거한다.
        linelist=line.split()
        for i in range(len(linelist)):
            if i % 7 in [1,4]:
                if i != len(linelist):
                    roundmoves.append(linelist[i])
        Chessround.append(roundmoves)
    
f.close()

In [266]:
len(Chessround)

15959

In [267]:
import pandas as pd
import numpy as np

In [268]:
df_chess=pd.DataFrame(Chessround)

In [269]:
df_chess

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
0,e4,e5,Nf3,Nc6,Bb5,a6,Ba4,d6,c3,Bd7,...,None,None,None,None,None,None,None,None,None,None
1,e4,e5,Nf3,Nc6,Bb5,a6,Ba4,Nf6,O-O,Be7,...,None,None,None,None,None,None,None,None,None,None
2,d4,d5,c4,e6,Nf3,Nf6,Nc3,c6,e3,Nbd7,...,None,None,None,None,None,None,None,None,None,None
3,c4,Nf6,Nf3,c6,Nc3,d5,e3,g6,d4,Bg7,...,None,None,None,None,None,None,None,None,None,None
4,Nf3,Nf6,c4,b6,d3,g6,e4,d6,Nc3,Bg7,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15954,d4,Nf6,Nf3,g6,g3,Bg7,Bg2,O-O,O-O,d6,...,None,None,None,None,None,None,None,None,None,None
15955,Nf3,d5,e3,Nf6,b3,Bf5,Be2,h6,Ba3,Nbd7,...,None,None,None,None,None,None,None,None,None,None
15956,d4,Nf6,c4,e6,Nc3,Bb4,e3,O-O,Bd2,d5,...,None,None,None,None,None,None,None,None,None,None
15957,d4,Nf6,c4,e6,Nc3,Bb4,e3,O-O,Bd3,d5,...,None,None,None,None,None,None,None,None,None,None
15958,e4,e5,Nf3,Nc6,d4,exd4,Nxd4,Bc5,Nb3,Bb6,...,None,None,None,None,None,None,None,None,None,None

In [270]:
print(len(list(df_chess[1])))

15959

In [271]:
df_chess[0].describe(include="all")

count     15930
unique       20
top          e4
freq       7774
Name: 0, dtype: object

In [272]:
df_chess[0].unique()

array(['e4', 'd4', 'c4', 'Nf3', 'Nc3', 'b3', 'e3', 'g3', 'd3', 'c3', 'f4',
       'Qh7', 'Rd2', 'Rad8', 'Bxe4', 'Ree7', 'g4', None, 'b4', 'h4', 'a3'],
      dtype=object)

In [283]:
df_chess[df_chess[0]=="Qh7"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1191,Qh7,42.,a5,43.,Rc7,44.,1-0,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [284]:
df_chess[df_chess[0]=="Rd2"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1197,Rd2,Nc8,Rfd1,Nxd6,Rxd6,Rfd8,Qa3,Rxd6,Qxd6,Qxd6,...,None,None,None,None,None,None,None,None,None,None

In [285]:
df_chess[df_chess[0]=="Rad8"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1204,Rad8,20.,Bxc5,21.,gxf6,22.,Rxd1,23.,Rd8,24.,...,None,None,None,None,None,None,None,None,None,None

In [282]:
df_chess[df_chess[0]=="Bxe4"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1206,Bxe4,20.,Rhc8,21.,Nh6,22.,Ng8,23.,Rxc1,24.,...,None,None,None,None,None,None,None,None,None,None

In [286]:
df_chess[df_chess[0]=="Ree7"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1262,Ree7,Rf3,Nd7,Nh6+,Kh8,Qd6,Bb7,Rxe6,Qe8,Rfe3,...,None,None,None,None,None,None,None,None,None,None

In [287]:
df_chess[df_chess[0]==None]

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 368 columns]

In [293]:
print(list(df_chess.loc[1191]))
print(list(df_chess.loc[1190]))

['Qh7', '42.', 'a5', '43.', 'Rc7', '44.', '1-0', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
['d4', 'e6', 'c4', 'Nf6', 'Nc3', 'Bb4', 'e3', 'O-O', 'Bd3', 'c5', 'Nf3', 'd5', 'O-O', 'cxd4', 'exd4', 'dxc4', 'Bxc4', 'b6', 'Bg5', 'Bb7', 'Qe2', 'Bxc3', 'bxc3', 'Nbd7', 'Bd3', 'Qc7', 'Rac1', 'Ng4', 'Be4', 'Rfe8', 'h3', 'Bxe4', 'Qxe4', 'Ngf6', 'Qe2', 'Rac8', 'c4', 'Qb7', 'Rfe1', 'Qa6', 'Ne5', 'Nxe5', 'dxe5', 'Nd7', 'Qg4', 'Kh8', 'Qh5', 'Kg8', 'Qg4', 'Kh8', 'Re4', 'Qa3', 'Rd1', 'Nf8', 'h4', 'Qc3', 'h5', 'h6', 'Bh4', 'Rc7', 'Red4', 'Qc2', 'R1d3', 'Rc5', 'Rg3', 'Qh7', 'Rf4', 'Rc7', 'Qf3', 'Nd7', 'Qe2', 'Rf8', 'Be7', 'Rg8', 'Bd6', 'Rcc8', 'Rxf7', 'Qb1+', 'Kh2', 'Nc5', 'Qe3', '{<p', 'their', 'they', 'repertoire.', 'concepts', 'with', 'explanations', 'of', 'your', 'openings', 'target="_blank"', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [294]:
print(list(df_chess.loc[1196]))
print(list(df_chess.loc[1197]))

['d4', 'd5', 'c4', 'e6', 'Nc3', 'Nf6', 'Bg5', 'Be7', 'e3', 'Nbd7', 'Nf3', 'h6', 'Bh4', 'O-O', 'Qc2', 'c5', 'Rd1', 'Qa5', 'cxd5', 'Nxd5', 'Bxe7', 'Nxe7', 'Be2', 'Nf6', 'O-O', 'cxd4', 'Nxd4', 'e5', 'Ndb5', 'Bf5', 'Qb3', 'Be6', 'Bc4', 'Bxc4', 'Qxc4', 'a6', 'Nd6', 'b5', 'Qb3', 'Qc7', 'class="text-warning">Top', 'their', 'build', 'repertoire.', 'in', 'with', 'and', 'of', 'problems', 'openings', 'class="text-success"><u>HERE</u></a></p>}', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
['Rd2', 'Nc8', 'Rfd1', 'Nxd6', 'Rxd6', 'Rfd8', 'Qa3', 'Rxd6', 'Qxd6', 'Qxd6', 'Rxd6', 'b4', 'Na4', 'Ne4', 'Rd1', 'Rc8', 'f3', 'Nf6', 'Rd2', 'Kf8', 'Kf2', 'Ke7', 'e4', 'Rc6', 'b3', 'Nd7', 'Nb2', 'f6', 'h4', 'h5', 'Nd1', 'Rd6', 'Ke2', 'Rxd2+', 'Kxd2', 'Kd6', 'Ne3', 'g6', 'Kd3', 'Kc5', 'Nd5', 'a5', 'g3', 'Kb5', 'f4', 'Kc5', 'Ne7', 'Nf8', 'f5', 'gxf5', 'Nxf5', 'Ne6', 'Ne7', 'Kd6', 'Nf5+', 'Kc5', 'Ke3', 'Kb5', 'Nd6+', 'Kc6', 'Ne8', 'a4', 'bxa4', 'Nc5', 'Nxf6', 'Nxa4', 'g4', 'hxg4', 'h5', 'Nb2', 'h6', 'Nc4+', 'Ke2', 'Nd6', 'h7', 'Nf7', 'Nxg4', 'Kd6', 'Kd3', 'Kc5', 'Ke3', 'Kd6', 'Kd2', 'Ke6', 'Kd3', 'Nh8', 'Kc4', 'Kf7', 'Kxb4', 'Kg7', 'Nxe5', 'Kf6', 'Nc6', 'Kg7', 'a4', 'Nf7', 'a5', 'Nd6', 'a6', 'Nc8', 'a7', 'Nxa7', 'Nxa7', 'Kxh7', 'Nc6', '1-0', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [295]:
print(list(df_chess.loc[1203]))
print(list(df_chess.loc[1204]))

['e4', 'e6', 'd4', 'd5', 'Nc3', 'dxe4', 'Nxe4', 'Bd7', 'Nf3', 'Bc6', 'Bd3', 'Nd7', 'O-O', 'Ngf6', 'Ned2', 'Be7', 'b3', 'O-O', 'Bb2', 'b6', 'c4', 'Bb7', 'Qe2', 'c5', 'Rfe1', 'Re8', 'Rad1', 'Qc7', 'Ne4', 'Nxe4', 'Bxe4', 'Bxe4', 'Qxe4', 'Nf6', 'Qe5', 'Bd6', 'Qe2', '{<p', 'day', 'of', 'base', 'Repertoire', 'by', 'Georgiev.', 'href="https://goo.gl/zzuBYX"', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
['Rad8', '20.', 'Bxc5', '21.', 'gxf6', '22.', 'Rxd1', '23.', 'Rd8', '24.', 'Rxd1', '25.', 'Qc6', '26.', 'f5', '27.', 'Kg7', '28.', 'Kf8', '29.', 'Qe4', '30.', 'Kg7', '31.', 'a5', '32.', 'h6', '33.', 'Kg8', '34.', 'Kh7', '35.', 'Qg4', '36.', 'Qxh5', '37.', 'Qg5', '38.', 'Kh8', '39.', 'Kg8', '40.', 'Kh8', '41.', 'Kg8', '42.', '1/2-1/2', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [296]:
print(list(df_chess.loc[1205]))
print(list(df_chess.loc[1206]))

['d4', 'd5', 'c4', 'c6', 'Nf3', 'Nf6', 'Nc3', 'e6', 'Qd3', 'dxc4', 'Qxc4', 'b5', 'Qd3', 'a6', 'e4', 'c5', 'dxc5', 'Bxc5', 'Qxd8+', 'Kxd8', 'Bd3', 'Bb7', 'e5', 'Ng4', 'Ne4', 'Bb4+', 'Ke2', 'Nd7', 'Bf4', 'Nc5', 'Nxc5', 'Bxc5', 'Rhc1', 'Bb6', 'Ng5', 'Ke7', 'Be4', '{<p', 'comes', 'promotion', 'Avrukh', 'modern', 'Italian', 'a', '<a', 'class="text-success"><u>HERE</u></a></p>}', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
['Bxe4', '20.', 'Rhc8', '21.', 'Nh6', '22.', 'Ng8', '23.', 'Rxc1', '24.', 'Kd7', '25.', 'Ne7', '26.', 'Bxe3', '27.', 'Ng6', '28.', 'Rf8', '29.', 'Ne7', '30.', 'Nd5+', '31.', 'h6', '32.', 'Ra8', '33.', 'a5', '34.', 'Rc8', '35.', 'Ke7', '36.', 'exd5', '37.', 'Rc2+', '38.', 'Rxb2', '39.', 'a4', '40.', 'Rb1', '41.', 'Rb3', '42.', 'Kd7', '43.', 'b4', '44.', 'Rxb4', '45.', 'Ke7', '46.', 'Kf8', '47.', 'Kg8', '48.', 'hxg5', '49.', 'Rb6', '50.', 'g6+', '51.', 'Rb1', '52.', 'Kg7', '53.', 'Kg8', '54.', 'Rf1+', '55.', 'Ra1', '56.', '1-0', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [299]:
print(list(df_chess.loc[1261]))
print(list(df_chess.loc[1262]))

['Nf3', 'g6', 'd4', 'Bg7', 'Bg5', 'Nf6', 'Nbd2', 'd5', 'e3', 'O-O', 'Bd3', 'c5', 'c3', 'Nc6', 'O-O', 'cxd4', 'exd4', 'Bf5', 'Bxf5', 'gxf5', 'Bxf6', 'Bxf6', 'Qe2', 'Qd6', 'Rfe1', 'Bg7', 'Ne5', 'Rae8', 'Ndf3', 'e6', 'Rad1', 'Ne7', 'Qb5', 'Rb8', 'Qe2', 'b5', 'Nd3', 'a5', 'a3', 'Nc8', 'Nc5', 'Nb6', 'b3', 'Nd7', 'b4', 'Nf6', 'Nd2', 'Bh6', 'bxa5', 'Bxd2', 'Qxd2', 'Kh8', 'f3', 'Nd7', 'Qh6', 'Nxc5', 'Qf6+', 'Kg8', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]
['Ree7', 'Rf3', 'Nd7', 'Nh6+', 'Kh8', 'Qd6', 'Bb7', 'Rxe6', 'Qe8', 'Rfe3', 'Rxe6', 'Rxe6', 'Qc8', '1-0', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [323]:
f= open('F:/spark_test/spark_exam/fide_board_data/moveagain.pgn','r')

In [324]:
lines = f.readlines()
Chessround=[]
for line in lines:
    roundmoves=[]
    line = line.strip()  # 줄 끝의 줄 바꿈 문자를 제거한다.
    linelist=line.split()
    for i in range(len(linelist)):
        if i % 7 in [1,4]:
            if i != len(linelist):
                 roundmoves.append(linelist[i])
    Chessround.append(roundmoves)
    
f.close()

In [325]:
len(Chessround)

16032

In [326]:
import pandas as pd
import numpy as np

In [327]:
df_chess=pd.DataFrame(Chessround)

In [328]:
df_chess

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
0,e4,e5,Nf3,Nc6,Bb5,a6,Ba4,d6,c3,Bd7,...,None,None,None,None,None,None,None,None,None,None
1,e4,e5,Nf3,Nc6,Bb5,a6,Ba4,Nf6,O-O,Be7,...,None,None,None,None,None,None,None,None,None,None
2,d4,d5,c4,e6,Nf3,Nf6,Nc3,c6,e3,Nbd7,...,None,None,None,None,None,None,None,None,None,None
3,c4,Nf6,Nf3,c6,Nc3,d5,e3,g6,d4,Bg7,...,None,None,None,None,None,None,None,None,None,None
4,Nf3,Nf6,c4,b6,d3,g6,e4,d6,Nc3,Bg7,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16027,d4,Nf6,Nf3,g6,g3,Bg7,Bg2,O-O,O-O,d6,...,None,None,None,None,None,None,None,None,None,None
16028,Nf3,d5,e3,Nf6,b3,Bf5,Be2,h6,Ba3,Nbd7,...,None,None,None,None,None,None,None,None,None,None
16029,d4,Nf6,c4,e6,Nc3,Bb4,e3,O-O,Bd2,d5,...,None,None,None,None,None,None,None,None,None,None
16030,d4,Nf6,c4,e6,Nc3,Bb4,e3,O-O,Bd3,d5,...,None,None,None,None,None,None,None,None,None,None
16031,e4,e5,Nf3,Nc6,d4,exd4,Nxd4,Bc5,Nb3,Bb6,...,None,None,None,None,None,None,None,None,None,None

In [329]:
df_chess.describe()

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
count,16032,16032,15949,15949,15942,15942,15940,15940,15930,15930,...,1,1,1,1,1,1,1,1,1,1
unique,18,22,45,54,77,99,136,152,191,205,...,1,1,1,1,1,1,1,1,1,1
top,e4,Nf6,Nf3,Nc6,Nc3,Nf6,Nxd4,Nf6,Nc3,O-O,...,Rf4,Bb3,Kc3,Be6,Rf2+,Kb1,Re2,Bf7,Re1+,Ka2
freq,7848,4187,6248,3252,2949,2264,1620,2967,1930,1588,...,1,1,1,1,1,1,1,1,1,1

In [330]:
df_chess[0].unique()

array(['e4', 'd4', 'c4', 'Nf3', 'Nc3', 'b3', 'e3', 'g3', 'd3', 'c3', 'f4',
       'Rad8', 'Bxe4', 'Ree7', 'g4', 'b4', 'h4', 'a3'], dtype=object)

In [331]:
df_chess[df_chess[0]=="Bxe4"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1225,Bxe4,20.,Rhc8,21.,Nh6,22.,Ng8,23.,Rxc1,24.,...,None,None,None,None,None,None,None,None,None,None

In [320]:
df_chess[df_chess[0]=="Rad8"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1223,Rad8,20.,Bxc5,21.,gxf6,22.,Rxd1,23.,Rd8,24.,...,None,None,None,None,None,None,None,None,None,None

In [321]:
df_chess[df_chess[0]=="Ree7"]

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
1281,Ree7,Rf3,Nd7,Nh6+,Kh8,Qd6,Bb7,Rxe6,Qe8,Rfe3,...,None,None,None,None,None,None,None,None,None,None