In [3]:
f = open('./fide_board_data/moveagain.pgn', 'r')

lines = f.readlines()
Chessround=[]
for line in lines:
    roundmoves=[]
    line = line.strip()  # 줄 끝의 줄 바꿈 문자를 제거한다.
    linelist=line.split()
    for i in range(len(linelist)):
        if i % 7 in [1,4]:
            if i != len(linelist):
                 roundmoves.append(linelist[i])
    Chessround.append(roundmoves)
    
f.close()

In [4]:
# 데이터 프레임 만들기
import pandas as pd
import numpy as np

df_chess = pd.DataFrame(Chessround)
df_chess

,0,1,2,3,4,5,6,7,8,9,...,358,359,360,361,362,363,364,365,366,367
0,e4,e5,Nf3,Nc6,Bb5,a6,Ba4,d6,c3,Bd7,...,None,None,None,None,None,None,None,None,None,None
1,e4,e5,Nf3,Nc6,Bb5,a6,Ba4,Nf6,O-O,Be7,...,None,None,None,None,None,None,None,None,None,None
2,d4,d5,c4,e6,Nf3,Nf6,Nc3,c6,e3,Nbd7,...,None,None,None,None,None,None,None,None,None,None
3,c4,Nf6,Nf3,c6,Nc3,d5,e3,g6,d4,Bg7,...,None,None,None,None,None,None,None,None,None,None
4,Nf3,Nf6,c4,b6,d3,g6,e4,d6,Nc3,Bg7,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16024,d4,Nf6,Nf3,g6,g3,Bg7,Bg2,O-O,O-O,d6,...,None,None,None,None,None,None,None,None,None,None
16025,Nf3,d5,e3,Nf6,b3,Bf5,Be2,h6,Ba3,Nbd7,...,None,None,None,None,None,None,None,None,None,None
16026,d4,Nf6,c4,e6,Nc3,Bb4,e3,O-O,Bd2,d5,...,None,None,None,None,None,None,None,None,None,None
16027,d4,Nf6,c4,e6,Nc3,Bb4,e3,O-O,Bd3,d5,...,None,None,None,None,None,None,None,None,None,None
16028,e4,e5,Nf3,Nc6,d4,exd4,Nxd4,Bc5,Nb3,Bb6,...,None,None,None,None,None,None,None,None,None,None

In [19]:
# 10번째 수 까지 저장
# 처음 무브 10개만 저장
list1 = [x for x in range(0, 10)]

df_chess.columns
tot = df_chess[list1]
tot

         0    1    2    3    4     5     6    7    8     9
0       e4   e5  Nf3  Nc6  Bb5    a6   Ba4   d6   c3   Bd7
1       e4   e5  Nf3  Nc6  Bb5    a6   Ba4  Nf6  O-O   Be7
2       d4   d5   c4   e6  Nf3   Nf6   Nc3   c6   e3  Nbd7
3       c4  Nf6  Nf3   c6  Nc3    d5    e3   g6   d4   Bg7
4      Nf3  Nf6   c4   b6   d3    g6    e4   d6  Nc3   Bg7
...    ...  ...  ...  ...  ...   ...   ...  ...  ...   ...
16024   d4  Nf6  Nf3   g6   g3   Bg7   Bg2  O-O  O-O    d6
16025  Nf3   d5   e3  Nf6   b3   Bf5   Be2   h6  Ba3  Nbd7
16026   d4  Nf6   c4   e6  Nc3   Bb4    e3  O-O  Bd2    d5
16027   d4  Nf6   c4   e6  Nc3   Bb4    e3  O-O  Bd3    d5
16028   e4   e5  Nf3  Nc6   d4  exd4  Nxd4  Bc5  Nb3   Bb6

[16029 rows x 10 columns]

In [20]:
# 무브 별로 groupby 
final = tot.groupby([0], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)
final = pd.DataFrame(final)
final.head(10)

/var/folders/8w/n7c94rx9259cqqy815cxfms00000gn/T/ipykernel_32003/1866838574.py:2: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  final = tot.groupby([0], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)

        0
0
e4   7848
d4   5470
Nf3  1587
c4    867
b3     84
g3     57
f4     43
e3     19
d3     18
Nc3    14

## 첫 수에 따른 체스 오프닝 종류

- e4 : 킹즈 폰 오프닝 (https://namu.wiki/w/%ED%82%B9%EC%A6%88%20%ED%8F%B0%20%EC%98%A4%ED%94%84%EB%8B%9D)

- d4 : 퀸즈 폰 오프닝 (https://namu.wiki/w/%ED%80%B8%EC%A6%88%20%ED%8F%B0%20%EC%98%A4%ED%94%84%EB%8B%9D)

- Nf3 : 레티 오프닝 (https://namu.wiki/w/%EB%A0%88%ED%8B%B0%20%EC%98%A4%ED%94%84%EB%8B%9D)

- c4 : 잉글리시 오프닝 (https://namu.wiki/w/%EC%9E%89%EA%B8%80%EB%A6%AC%EC%8B%9C%20%EC%98%A4%ED%94%84%EB%8B%9D)

In [ ]:
# 첫 시작은 e4, d4, Nf3, c4 순으로 높은 것을 확인할 수 있다. (총 4개가 앞도적으로 빈도수가 높음)

In [21]:
final = tot.groupby([0,1], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)
final = pd.DataFrame(final)
final.head(10)

/var/folders/8w/n7c94rx9259cqqy815cxfms00000gn/T/ipykernel_32003/3819529796.py:1: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  final = tot.groupby([0,1], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)

            0
0   1
d4  Nf6  3194
e4  c5   3114
    e5   2507
d4  d5   1607
e4  c6    789
    e6    675
Nf3 d5    666
    Nf6   626
c4  Nf6   242
e4  d6    211

### 두번째 수에 따른 오프닝 종류 (파생형)

- d4 Nf6 : 인디언 디펜스 (https://namu.wiki/w/%EC%9D%B8%EB%94%94%EC%96%B8%20%EB%94%94%ED%8E%9C%EC%8A%A4)

- e4 c5 : 시실리안 디펜스(https://namu.wiki/w/%EC%8B%9C%EC%8B%A4%EB%A6%AC%EC%95%88%20%EB%94%94%ED%8E%9C%EC%8A%A4)

- e4 e5 : 오픈 게임 (https://namu.wiki/w/%EC%98%A4%ED%94%88%20%EA%B2%8C%EC%9E%84)

- d4 d5 : 클로즈드 게임 (https://namu.wiki/w/%ED%81%B4%EB%A1%9C%EC%A6%88%EB%93%9C%20%EA%B2%8C%EC%9E%84)

- e4 c6 : 카로칸 디펜스 (https://namu.wiki/w/%EC%B9%B4%EB%A1%9C%EC%B9%B8%20%EB%94%94%ED%8E%9C%EC%8A%A4)

- e4 e6 프렌치 디펜스 (https://namu.wiki/w/%ED%94%84%EB%A0%8C%EC%B9%98%20%EB%94%94%ED%8E%9C%EC%8A%A4)

- Nf3 d5 2.c4 레티 갬빗 (https://namu.wiki/w/%EB%A0%88%ED%8B%B0%20%EC%98%A4%ED%94%84%EB%8B%9D#s-3.1)

- e4 d6 카로칸 디펜스 (https://namu.wiki/w/%EC%B9%B4%EB%A1%9C%EC%B9%B8%20%EB%94%94%ED%8E%9C%EC%8A%A4)

In [22]:
final = tot.groupby([0,1,2], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)
final = pd.DataFrame(final)
final.head(10)

/var/folders/8w/n7c94rx9259cqqy815cxfms00000gn/T/ipykernel_32003/2699019278.py:1: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  final = tot.groupby([0,1,2], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)

                0
0   1   2
e4  c5  Nf3  2404
    e5  Nf3  2319
d4  Nf6 c4   2036
    d5  c4   1016
    Nf6 Nf3   661
e4  c6  d4    565
    e6  d4    557
Nf3 d5  g3    378
e4  c5  Nc3   350
d4  d5  Nf3   314

- e4 c5 Nf3 : 오픈 시실리안 
(https://namu.wiki/w/%EC%98%A4%ED%94%88%20%EC%8B%9C%EC%8B%A4%EB%A6%AC%EC%95%88)

- e4 e5 Nf3 : 킹즈 나이트 오프닝 
(https://namu.wiki/w/%ED%82%B9%EC%A6%88%20%EB%82%98%EC%9D%B4%ED%8A%B8%20%EC%98%A4%ED%94%84%EB%8B%9D)

- d4 d5 c4 : 퀸즈 갬빗
(https://namu.wiki/w/%ED%80%B8%EC%A6%88%20%EA%B0%AC%EB%B9%97)

In [23]:
final = tot.groupby([0,1,2,3], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)
final = pd.DataFrame(final)
final.head(10)

/var/folders/8w/n7c94rx9259cqqy815cxfms00000gn/T/ipykernel_32003/4281954617.py:1: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  final = tot.groupby([0,1,2,3], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)

                   0
0  1   2   3
e4 e5  Nf3 Nc6  2081
d4 Nf6 c4  e6   1237
e4 c5  Nf3 d6    983
           Nc6   624
           e6    622
d4 Nf6 c4  g6    569
e4 c6  d4  d5    560
   e6  d4  d5    551
d4 d5  c4  e6    512
           c6    344

In [26]:
final = tot.groupby([0,1,2,3,4,5,6,7], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)
final = pd.DataFrame(final)
final.head(10)

/var/folders/8w/n7c94rx9259cqqy815cxfms00000gn/T/ipykernel_32003/2351833583.py:1: FutureWarning: The `squeeze` parameter is deprecated and will be removed in a future version.
  final = tot.groupby([0,1,2,3,4,5,6,7], group_keys=True, squeeze=True, sort=True).size().sort_values(ascending=False)

                                    0
0  1   2   3   4   5    6    7
e4 c5  Nf3 d6  d4  cxd4 Nxd4 Nf6  600
   e5  Nf3 Nc6 Bb5 a6   Ba4  Nf6  507
d4 Nf6 c4  g6  Nc3 Bg7  e4   d6   223
e4 c5  Nf3 e6  d4  cxd4 Nxd4 a6   157
                             Nc6  148
   e5  Nf3 Nc6 Bc4 Bc5  c3   Nf6  140
   c5  Nf3 Nc6 d4  cxd4 Nxd4 Nf6  133
d4 Nf6 c4  e6  Nc3 Bb4  e3   O-O  130
e4 c5  Nf3 e6  d4  cxd4 Nxd4 Nf6  104
   e5  Nf3 Nc6 Bc4 Nf6  d3   Bc5   95